[data-skeleton=true] * {
  border: 1px solid hotpink;
  border: 1px solid lime;
}

.templates-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $laptop-medium;
  margin: 0 auto;
}

@media only screen and (min-width: $mobile-large) {
  .templates-container {
    padding: 0 $size-96;
  }
}

/* =========================================================== Template 100 */
.template100 {
  display: flex;
  flex-direction: column;
}

.template100-row1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: $size-48;
  padding: 0 $size-8;
  background-color: var(--grey-100);
}

.template100-row1-col1,
.template100-row1-col3 {
  display: none;
  height: 100%;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $size-8;
  }
}

.template100-row1-col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $size-8;
  }

  li:nth-child(2) {
    font-size: $size-12;
  }
}

.template100-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: $size-56;
  padding: 0 $size-8;
  background-color: white;
  border-bottom: 2px solid var(--lego-yellow);
}

.template100-row2-col1,
.template100-row2-col2,
.template100-row2-col3 {
  display: flex;
  flex-direction: row;
}

.template100-row2-col2 {
  display: none;
}

.template100-row2-col1,
.template100-row2-col2,
.template100-row2-col3 {
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $size-8;
  }
}

@media only screen and (min-width: $mobile-large) {
  .template100-row1 {
    flex-direction: row;
    align-items: center;
    height: $size-56;
    padding: 0 $size-32;
  }

  .template100-row1-col1,
  .template100-row1-col3 {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
  }

  .template100-row1-col2 {
    flex-basis: 60%;
    justify-content: center;

    li:nth-child(2) {
      padding: 0 $size-48;
    }
  }

  .template100-row1-col3 {
    justify-content: right;
  }

  .template100-row2 {
    height: $size-80;
    padding: 0 $size-32;
    background-color: var(--lego-yellow);
  }

  .template100-row2-col1 li:first-child {
    display: none;
  }

  .template100-row2-col2 {
    display: flex;
    flex-grow: 1;

    li {
      padding: 0 $size-24;
    }

    li:first-child {
      padding-left: $size-56;
    }
  }

  .template100-row2-col3 {
    li {
      padding: 0 $size-16;
    }
    li:last-child {
      padding-right: $size-8;
    }

    li:nth-child(2) {
      display: none;
    }
  }
}

/* =========================================================== Template 200 */
.template200 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.template200-display {
  position: relative;
  display: flex;
  flex-direction: column;
  picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.template200-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $size-24;
}

.template200[data-theme=light] .template200-content{
  background-color: white;
  color: black;
}

.template200[data-theme=dark] .template200-content{
  background-color: black;
  color: white;
}

.template200[data-theme=purple] .template200-content{
  background-color: #130e2f;
  color: white;
}

.template200[data-theme=blue] .template200-content{
  background-color: var(--blue-800);
  color: white;
}

.template200-content h3,
.template200-content p {
  padding: $size-8 0;
}

.template200-content h3 {
  @include subtitle-100(medium);
}

.template200-content p {
  @include body-200(regular);
}

.template200-btnGroup {
  display: flex;
  flex-direction: column;
}

.template200-btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $size-8 0;
}

@media only screen and (min-width: $mobile-large) {
  .template200 {
    justify-content: center;
    align-items: center;
  }
  .template200 .templates-container {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .template200[data-position=right] .templates-container {
    align-items: flex-end;
    .template200-content {
      text-align: right;
    }
    .template200-btnGroup {
      justify-content: right;
    }
  }
  .template200[data-position=left] .templates-container{
    align-items: flex-start;
    .template200-content {
      text-align: left;
    }
    .template200-btnGroup {
      justify-content: left;
    }
  }
  .template200-content {
    width: 50%;
    padding: 0;
  }
  .template200[data-theme=dark] .template200-content,
  .template200[data-theme=light] .template200-content,
  .template200[data-theme=purple] .template200-content,
  .template200[data-theme=blue] .template200-content {
    background-color: transparent;
  }
  .template200-content h3 {
    @include headline-400(regular);
    padding: $size-16 0;
  }
  .template200-content p {
    @include subtitle-100(regular);
    padding: $size-16 0;
  }
  .template200-btnGroup {
    flex-direction: row;
    padding: $size-16 0;

    li:first-child {
      padding-right: $size-16;
    }
  }
}

/* =========================================================== Template 210 */
.template210 {
  @media only screen and (min-width: $mobile-large) {
    .template200-content p {
      @include headline-600(regular);
      padding-top: 0;
    }
    .template200-btnGroup {
      padding: 0;
    }
    .template200-btnContainer,
    .template200-btnContainer:first-child {
      padding: 0;
    }
  }
}

/* =========================================================== Template 300 */
.template300 {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $size-8;

    li {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      padding: $size-8;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        text-decoration: underline;
        color: var(--lego-blue);
      }
      h6 {
        @include body-200(medium);
        padding: $size-8 0;
      }
    }
  }

  @media only screen and (min-width: $mobile-large) {
    ul {
      flex-wrap: nowrap;
      padding: 0;
    }
    ul li {
      flex-basis: 12.5%;
      padding: 0;
      margin: $size-16;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    ul li img {
      margin-bottom: $size-16;
    }
    ul li h6 {
      padding: 0;
    }
  }
}

/* =========================================================== Template 400 */
.template400 {
  display: flex;
  flex-direction: column;

  .template400-ul {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: $size-16;
    padding-left: $size-8;
    padding-right: $size-8;
  }

  /* Scrollbar height */
  .template400-ul::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }

  /* Scrollbar Track */
  .template400-ul::-webkit-scrollbar-track {
    background: var(--grey-300); 
    border-radius: 2px;
    margin: 0 $size-16;
  }
  
  /* Scrollbar Handle */
  .template400-ul::-webkit-scrollbar-thumb {
    background: var(--grey-600); 
    border-radius: 2px;
    cursor: pointer;
  }

  /* Scrollbar Handle on hover */
  .template400-ul::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  .template400-li {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 75%;
    flex-shrink: 0;
    padding: 0 $size-8;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (min-width: $mobile-large) {
    .templates-container{
      max-width: calc($laptop-medium + $size-32);
    }
    .template400-ul {
      padding-bottom: $size-32;
      padding-left: 0;
      padding-right: 0;
    }
    .template400-li {
      flex-basis: 25%;
      padding: 0 $size-16;
    }
  }
}