nav{
  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px ;
    
  }
    input {
        font-size: 15px;
        
        border: 0;
        outline: 0;
        box-shadow: none;
        
    

    }
}