

.display-images{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   #novità{
       text-decoration: none;
      
       &:hover{
           text-decoration: underline;
       }
   }
}
