<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates v1.0</title>
  <link rel="stylesheet" href="styles.css" link="text/css">
</head>
<body>

  <header class="templatesHeader">
    <h2>Template 100: Navbar</h2>
    <p>Responsive Navbar template.</p>
  </header>

  <!-- ************************************************************************** Template 100 -->
  <div class="template100" data-skeleton="true">
    <div class="template100-row1">
      <ul class="template100-row1-col1">
        <li>Link</li><!-- Area giochi -->
      </ul>
      <ul class="template100-row1-col2">
        <li>Left</li><!-- Arrow left -->
        <li>List item number 2</li><!-- Promotional text message -->
        <li>Right</li><!-- Arrow Right -->
      </ul>
      <ul class="template100-row1-col3">
        <li>Li 1</li><!-- Profile/Avatar -->
        <li>Li 2</li><!-- VIP -->
      </ul>
    </div>
    <div class="template100-row2">
      <ul class="template100-row2-col1">
        <li>Menu</li><!-- Hamburger Menu -->
        <li>Logo</li><!-- Lego logo -->
      </ul>
      <ul class="template100-row2-col2">
        <li>Link 1</li><!-- Acquista -->
        <li>Link 2</li><!-- Scopri -->
        <li>Link 3</li><!-- Aiuto -->
        <li>Link 4</li><!-- Natale -->
      </ul>
      <ul class="template100-row2-col3">
        <li>Li 1</li><!-- Search icon -->
        <li>Li 2</li><!-- Avatar/Profile -->
        <li>Li 3</li><!-- Heart icon -->
        <li>Li 4</li><!-- Shopping icon -->
      </ul>
    </div>
  </div>

  <header class="templatesHeader">
    <h2>Template 200: Big Banner</h2>
    <p>1. data-position="left" to position content to the left.</p>
    <p>2. data-position="right" to position content to the right.</p>
    <p>3. data-theme="dark" to get dark theme on mobile.</p>
    <p>4. data-theme="light" to get light theme on mobile.</p>
  </header>

  <!-- ************************************************************************** Template 200 -->
  <div class="template200" data-skeleton="true" data-theme="dark" data-position="right">
    <div class="template200-display">
      <picture>
        <source type="image/webp" media="(min-width: 425px)" srcset="../assets/images/placeholder-1800x720.jpg">
        <img src="../assets/images/placeholder-1080x1080.jpg">
      </picture>
    </div>
    <div class="templates-container">
      <div class="template200-content">
        <h3>Big banner title</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, ducimus!</p>
        <ul class="template200-btnGroup">
          <li class="template200-btnContainer">
            <button>Button 1</button>
          </li>
          <li class="template200-btnContainer">
            <button>Button 2</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <header class="templatesHeader">
    <h2>Template 210: Small Banner</h2>
    <p>1. data-position="left" to position content to the left.</p>
    <p>2. data-position="right" to position content to the right.</p>
    <p>3. data-theme="dark" to get dark theme on mobile.</p>
    <p>4. data-theme="light" to get light theme on mobile.</p>
  </header>

  <!-- ************************************************************************** Template 200 -->
  <div class="template200 template210" data-skeleton="true" data-theme="dark" data-position="right">
    <div class="template200-display">
      <picture>
        <source type="image/webp" media="(min-width: 425px)" srcset="../assets/images/placeholder-1800x300.jpg">
        <img src="../assets/images/placeholder-1800x720.jpg">
      </picture>
    </div>
    <div class="templates-container">
      <div class="template200-content">
        <p>Lorem ipsum dolor sit, amet consectetur.</p>
        <ul class="template200-btnGroup">
          <li class="template200-btnContainer">
            <button>Button 1</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>