<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates v1.0</title>
  <link rel="stylesheet" href="styles.css" link="text/css">
</head>
<body>

  <header class="templatesHeader">
    <h2>Template 100: Navbar</h2>
    <p>Responsive Navbar template.</p>
  </header>

  <div class="template100" data-skeleton="false">
    <div class="template100-row1">
      <ul class="template100-row1-col1">
        <li>Link</li><!-- Area giochi -->
      </ul>
      <ul class="template100-row1-col2">
        <li>Left</li><!-- Arrow left -->
        <li>List item number 2</li><!-- Promotional text message -->
        <li>Right</li><!-- Arrow Right -->
      </ul>
      <ul class="template100-row1-col3">
        <li>Li 1</li><!-- Profile/Avatar -->
        <li>Li 2</li><!-- VIP -->
      </ul>
    </div>
    <div class="template100-row2">
      <ul class="template100-row2-col1">
        <li>Menu</li><!-- Hamburger Menu -->
        <li>Logo</li><!-- Lego logo -->
      </ul>
      <ul class="template100-row2-col2">
        <li>Link 1</li><!-- Acquista -->
        <li>Link 2</li><!-- Scopri -->
        <li>Link 3</li><!-- Aiuto -->
        <li>Link 4</li><!-- Natale -->
      </ul>
      <ul class="template100-row2-col3">
        <li>Li 1</li><!-- Search icon -->
        <li>Li 2</li><!-- Avatar/Profile -->
        <li>Li 3</li><!-- Heart icon -->
        <li>Li 4</li><!-- Shopping icon -->
      </ul>
    </div>
  </div>

  <header class="templatesHeader">
    <h2>Template 200: Big Banner</h2>
    <p>Big banner can take 2 arguments: 1. Left and 2. Right. Banners are used for promotions and the text may vary depending on which side it needs to be displayed.</p>
  </header>

  <div class="template200" data-skeleton="true">
    <div class="template200-display">Display</div>
    <div class="template200-content">
      <h3>Big banner title</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, ducimus!</p>
      <ul class="template200-btnGroup">
        <li class="template200-btnContainer">
          <button>Button 1</button>
        </li>
        <li class="template200-btnContainer">
          <button>Button 2</button>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>