.button-misida{
    width: 106.34px;
    height: 25px;
.compra_ora{
    width: 88.34px;
    height: 16px;
    padding: 5px;
   
    &:hover{
        text-decoration: underline ;
    }
}
img{
    margin: 0px,0px,0px,10px;
}
}
