@import '../../main.scss';
@import 'navBar.scss';
@import 'productList.scss';

section.categoryLinks {
  padding: $size-48 0;
}

.sectionTitles {
  h2 {
    @include headline-600(regular);
    padding: $size-32 $size-16;
  }

  @media only screen and (min-width: $mobile-large) {
    h2 {
      @include headline-500(regular);
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.smallBanner {
  padding: $size-48 0;
}